# Go

# Скомпилированные исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Бинарные файлы тестов, созданные с помощью `go test -c`
*.test

# Файлы покрытия кода
*.out

# Файлы рабочего пространства Go
go.work
go.work.sum

# Настройки IDE
.idea/
.vscode/

# Локальные переменные окружения
.env

# Лог-файлы
*.log
